<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0,minimum-scale=1.0" />
<link rel="stylesheet" type="text/css" href="../css/main.css" th:href="@{/css/printaddr/main.css}" />
<link rel="stylesheet" type="text/css" href="../css/card-tozip.css" th:href="@{/css/printaddr/card-tozip.css}" />
<link rel="stylesheet" type="text/css" href="../css/card-toaddr.css" th:href="@{/css/printaddr/card-toaddr.css}" />
<link rel="stylesheet" type="text/css" href="../css/card-toname.css" th:href="@{/css/printaddr/card-toname.css}" />
<link rel="stylesheet" type="text/css" href="../css/card-fmaddr.css" th:href="@{/css/printaddr/card-fmaddr.css}" />
<link rel="stylesheet" type="text/css" href="../css/card-fmname.css" th:href="@{/css/printaddr/card-fmname.css}" />
<link rel="stylesheet" type="text/css" href="../css/card-fmzip.css" th:href="@{/css/printaddr/card-fmzip.css}" />
<link rel="stylesheet" type="text/css" href="../css/card-namespacing.css" th:href="@{/css/printaddr/card-namespacing.css}"/>
<link rel="stylesheet" type="text/css" href="../css/card-stamp-sample.css" th:href="@{/css/printaddr/card-stamp-sample.css}"/>
<link rel="stylesheet" type="text/css" href="../css/header.css" th:href="@{/css/printaddr/header.css}" />
<link rel="stylesheet" type="text/css" href="../css/header-hamburger.css" th:href="@{/css/printaddr/header-hamburger.css}" />
<link rel="stylesheet" type="text/css" href="../css/header-manual.css" th:href="@{/css/printaddr/header-manual.css}" />
<link rel="stylesheet" type="text/css" href="../css/atrule.css" th:href="@{/css/printaddr/atrule.css}" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Kosugi|Kosugi+Maru|M+PLUS+1p|M+PLUS+Rounded+1c|Noto+Sans+JP|Noto+Serif+JP|Sawarabi+Gothic|Sawarabi+Mincho|Material+Icons&display=swap" />
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167158475-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167158475-1');
</script>
<title>年賀状宛名印刷</title>
</head>
<body>

<header class="no_print">
<h1>年賀状宛名印刷</h1>
<a href="#!" class="hamburger active">
	<span></span>
	<span></span>
	<span></span>
</a>
<nav class="manual open">
<div class="manual-win-bar"><span class="manual-win-title">手順</span><span class="material-icons close-manual manual-win-close">cancel_presentation</span></div>
<ol start="0">
	<li><a href="https://sites.google.com/view/printaddr/home" target="_new" class="manual-btn manual-btn-info"><span class="manual-btn-font material-icons">info</span></a>年賀状宛名印刷 について</li>
	<li><a id="downloadlink" href="../data/address-template.xlsx" th:href="@{/data/printaddr/address-template.xlsx}" class="manual-btn manual-btn-func"><span class="manual-btn-font material-icons">get_app</span></a>
		<select id="selectdownload">
			<option value="../data/address-template.xlsx" th:value="@{/data/printaddr/address-template.xlsx}">Excel</option>

			<option value="../data/address-template-utf8.csv" th:value="@{/data/printaddr/address-template-utf8.csv}">CSV(UTF-8)</option>
		</select>
		<span>住所録の雛型を取得</span></li>
	<li><a id="edithelplink" href="https://sites.google.com/view/printaddr/edit#h.oqx50h8ys5u1" target="_new" class="manual-btn manual-btn-info"><span class="manual-btn-font material-icons">info</span></a><span id="software">Excel</span>で住所録編集</li>
	<li>住所録へ差出人と宛先のリストを更新</li>
	<li>住所録をCSVで保存</li>
	<li><input id="csvfile" type="file" accept=".csv" /><label for="csvfile" class="manual-btn manual-btn-func"><span class="manual-btn-font material-icons">folder_open</span></label>
		<select id="selectchar">
			<option value="Shift_JIS">Shift_JIS</option>
			<option value="UTF-8">UTF-8</option>
		</select>
		<label id="filepath" class="filepath">CSVを読み込む</label></li>
	<li><a href="#!" class="manual-btn manual-btn-func" onclick="document.getElementById('selectfont').focus(); return false;"><span class="manual-btn-font material-icons">text_format</span></a>
		<select id="selectfont">
			<option value="" hidden>フォントを選択</option>
			<option value="">(Default Font)</option>
			<option value="'Noto Sans JP', sans-serif">Noto Sans JP</option>
			<option value="'Noto Serif JP', serif">Noto Serif JP</option>
			<option value="'M PLUS 1p', sans-serif">M PLUS 1p</option>
			<option value="'Sawarabi Mincho', sans-serif">Sawarabi Mincho</option>
			<option value="'M PLUS Rounded 1c', sans-serif">M PLUS Rounded 1c</option>
			<option value="'Sawarabi Gothic', sans-serif">Sawarabi Gothic</option>
			<option value="'Kosugi Maru', sans-serif">Kosugi Maru</option>
			<option value="'Kosugi', sans-serif">Kosugi</option>
		</select></li>
	<li><a href="#!" class="manual-btn manual-btn-func close-manual"><span class="manual-btn-font material-icons">pageview</span></a>手順を閉じて出来上がりを確認</li>
	<li><a href="https://sites.google.com/view/printaddr/print" target="_new" class="manual-btn manual-btn-info"><span class="manual-btn-font material-icons">info</span></a><a href="#!" class="manual-btn manual-btn-func" onclick="window.print(); return false;"><span class="manual-btn-font material-icons">print</span></a>はがき(100x148mm)サイズで印刷</li>
</ol>
</nav>
</header>

<article class="close-manual">
	<div id="cards">
	<section class="card">
		<div class="tozip3-1"><p class="t-c">0</p></div>
		<div class="tozip3-2"><p class="t-c">2</p></div>
		<div class="tozip3-3"><p class="t-c">3</p></div>
		<div class="tozip4-1"><p class="t-c">4</p></div>
		<div class="tozip4-2"><p class="t-c">5</p></div>
		<div class="tozip4-3"><p class="t-c">6</p></div>
		<div class="tozip4-4"><p class="t-c">7</p></div>
		<div class="toaddr1"><p class="t-l">神奈川県横浜市保土ヶ谷区西神奈川</p></div>
		<div class="toaddr2"><p class="t-r">四－五六七－八九</p></div>
		<div class="toaddr3"><p class="t-r">グランドマンション一二三号室</p></div>
		<div class="toname1"><p><span class="toname-ls5">佐藤　悠真</span></p></div>
		<div class="totitle1">様</div>
		<div class="toname2"><p><span class="toname-ls6">　　　明日香</span></p></div>
		<div class="totitle2">様</div>
		<div class="toname3"><p><span class="toname-ls4">　　　翼</span></p></div>
		<div class="totitle3">様</div>
		<div class="fmaddr1"><p class="t-l">福岡県北九州市小倉南区北九州海岸</p></div>
		<div class="fmaddr2"><p class="t-r">九－八七六－五四－参弐壱号室</p></div>
		<div class="fmname1"><p><span class="fmname-ls7">鈴木　壱弐参四</span></p></div>
		<div class="fmname2"><p><span class="fmname-ls5">　　　結菜</span></p></div>
		<div class="fmname3"><p><span class="fmname-ls6">　　　一太郎</span></p></div>
		<div class="fmzip3-1"><p class="t-c">9</p></div>
		<div class="fmzip3-2"><p class="t-c">8</p></div>
		<div class="fmzip3-3"><p class="t-c">7</p></div>
		<div class="fmzip4-1"><p class="t-c">6</p></div>
		<div class="fmzip4-2"><p class="t-c">5</p></div>
		<div class="fmzip4-3"><p class="t-c">4</p></div>
		<div class="fmzip4-4"><p class="t-c">3</p></div>
		<div class="stamp-sample">見本</div>
	</section>
	</div>
</article>

<script src="../js/eventlistener.js" th:src="@{/js/printaddr/eventlistener.js}"></script>
<script src="../js/main.js" th:src="@{/js/printaddr/main.js}"></script>
<script src="../js/utility.js" th:src="@{/js/printaddr/utility.js}"></script>
<script src="../js/manual-toggle.js" th:src="@{/js/printaddr/manual-toggle.js}"></script>

</body>
</html>
