
@media screen {
	body {
		background: #e0e0e0;
	}
	.card {
		box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
		margin: 5mm;
	}
}

@media screen and (max-width: 480px) {
	header .manual {
		width: 98%;
		margin: 1% 1% 1% 1%;
	}
	.manual .manual-win-bar {
		width: 96.5%;
	}
}

@media print {
	.no_print{
		display: none;
	}
	body {
		width:100mm;	// needed for Chrome.
		height:148mm;	// needed for Chrome.
	}
	article {
		padding-top: 0px;
	}
}

@page {
	size: 100mm 148mm;
	margin: 1px;	// disable the page header and footer for Chrome.
	padding: 0;	// disable the page header and footer for Chrome.
}

