
.fmzip3-1, .fmzip3-2, .fmzip3-3,
.fmzip4-1, .fmzip4-2, .fmzip4-3, .fmzip4-4 {
	font-size: 13pt;
	position:absolute;
	top: 124.2mm;
	width: 4.0mm;
	line-height: 6.8mm;
}
.fmzip3-1 { left:  5.5mm; }
.fmzip3-2 { left:  9.5mm; }
.fmzip3-3 { left: 13.5mm; }
.fmzip4-1 { left: 18.5mm; }
.fmzip4-2 { left: 22.5mm; }
.fmzip4-3 { left: 26.5mm; }
.fmzip4-4 { left: 30.5mm; }

