
.stamp-sample {
	font-size: 30px;
	font-weight: bold;
	color: #d94236;
	text-align: center;
	text-shadow: 1px 1px 2px gray;
	border: solid 4px #d94236;
	border-radius: 5px;
	box-shadow: 1px 1px 2px gray;
	position: absolute;
	width: 30.0mm;
	top: 63.0mm;
	left: 35.0mm;
}

