
.fmname1, .fmname2, .fmname3 {
	font-size: 14pt;
	white-space: nowrap;
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	position:absolute;
	top: 73.0mm;
	width: 6.3mm;
	height: 49mm;
}
.fmname1 { left: 16.6mm; }
.fmname2 { left: 10.3mm; }
.fmname3 { left:  4.0mm; }

