
.toname1, .totitle1,
.toname2, .totitle2,
.toname3, .totitle3 {
	font-size: 24pt;
	white-space: nowrap;
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	position:absolute;
	width: 10.5mm;
}

.toname1, .toname2, .toname3 {
	top: 33.0mm;
	height: 83mm;
}
.totitle1, .totitle2, .totitle3 {
	top: 118.0mm;
	height: 11.3mm;
}

.toname1, .totitle1 { left: 55.0mm; }
.toname2, .totitle2 { left: 45.7mm; }
.toname3, .totitle3 { left: 36.4mm; }

