
.toname-ls { letter-spacing: 0mm; }
.fmname-ls { letter-spacing: 0mm; }

.toname-ls1 { letter-spacing: 30.00mm; }
.toname-ls2 { letter-spacing: 25.00mm; }
.toname-ls3 { letter-spacing: 12.50mm; }
.toname-ls4 { letter-spacing: 11.00mm; }
.toname-ls5 { letter-spacing:  8.35mm; }
.toname-ls6 { letter-spacing:  5.00mm; }
.toname-ls7 { letter-spacing:  2.75mm; }
.toname-ls8 { letter-spacing:  1.20mm; }

.fmname-ls1 { letter-spacing: 17.00mm; }
.fmname-ls2 { letter-spacing: 14.50mm; }
.fmname-ls3 { letter-spacing:  7.25mm; }
.fmname-ls4 { letter-spacing:  6.38mm; }
.fmname-ls5 { letter-spacing:  5.00mm; }
.fmname-ls6 { letter-spacing:  2.95mm; }
.fmname-ls7 { letter-spacing:  1.65mm; }
.fmname-ls8 { letter-spacing:  0.70mm; }

