
header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}

header h1 {
	background: linear-gradient(to right, #ca0813, #f3cccf);
	line-height: 50px;
	margin: 0px;
	padding-left: 60px;
	box-shadow: 2px 2px 4px gray;
	color: white;
	font-size: 28px;
	font-family: 'Kosugi Maru';
}

article {
	padding-top: 50px;
}

