
header .menu {
	background: #fff;
	border: solid 0.5px #000;
	box-shadow: 2px 2px 4px gray;
	position: absolute;
	width: 400px;
	margin: 8px;
	transform: translateY(-110%);
	transition: 0.3s ease-out;
}
header .menu.open {
	transform: translateY(0);
	transition: 0.3s ease-out;
}

.menu .menu-win-bar {
	display: table;
	background: #000;
	width: 100%;
	line-height: 25px;
}
.menu .menu-win-title {
	display: table-cell;
	text-align: left;
	padding-left: 5px;
	color: white;
	vertical-align: middle;
	font-size: 16px;
}
.menu .menu-win-close {
	display: table-cell;
	text-align: right;
	width: 25px;
	padding-right: 5px;
	color: white;
	vertical-align: middle;
	font-size: 24px;
}
.menu .menu-win-close:hover {
	cursor: pointer;
}

.menu ol {
	margin: 8px 0px 16px 0px;
	padding-left: 30px;
	font-size: 16px;
}
.menu li {
	line-height: 36px;
	margin-bottom: 6px;
}

.menu .menu-btn {
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
	margin-right: 3px;
}
.menu .menu-btn:hover {
	cursor: pointer;
}
.menu .menu-btn:active {
	box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
	transform: translateY(4px);
}
.menu .menu-btn-func {
	color: #ca0813;
}
.menu .menu-btn-func:hover {
	background: #dd6972;
	color: white;
}
.menu .menu-btn-func:active {
	background: none;
	color: #ca0813;
}
.menu .menu-btn-info {
	color: #1524e5;
}
.menu .menu-btn-info:hover {
	background: #54a1f8;
	color: white;
}
.menu .menu-btn-info:active {
	background: none;
	color: #1524e5;
}
.menu .menu-btn-font {
	font-size: 32px;
	vertical-align: middle;
}

/*
.manual select {
//	border: 1px solid #c5c5c5;
	border-radius: 3px;
	font-size: 16px;
	height: 30px;
}
.manual input[type="file"] {
	display: none;
}

.manual .filepath {
	width: 225px;
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
*/

