
body {
	margin: 0;
	padding: 0;
	width: 297mm;
	height: 210mm;
}

#appform {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

article {
	padding-top: 27.5mm;
}
#map_ov {
	margin-left: 25mm;
}
#map_zm {
	margin-left: 6mm;
}

.no-print {
	display: none;
}






