
body {
	background: #E6FFE9;
//	background:
//		linear-gradient(135deg, #E6FFE9, #E6FFE9, #e0e0e0)
}

article {
	padding-top: 55px;
	margin-left: 8px;
	width: 930px;
}

article h2 {
	margin: 4px 0 4px 0;
	padding-left: 7px;
	border-left: double 10px #000;
	border-bottom: solid 2px #000;
}

#sec1, #sec2 {
	margin-top: -55px;
	padding-top: 55px;
}

.map_frm1, .map_frm2 {
	margin-right: 8px;
	margin-bottom: 8px;
}
#map_ov, #map_zm {
	box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
}

.no-screen {
	display: none;
}



