<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link href="/css/grgmap.css" th:href="@{/css/grgmap.css}" rel="stylesheet"></link>
<link href="/css/searchbox.css" th:href="@{/css/searchbox.css}" rel="stylesheet"></link>
<!--
<link href="/css/pagePiling-menu.css" th:href="@{/css/pagePiling-menu.css}" rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.5/jquery.pagepiling.css" />
-->

<script type="text/javascript" src="/js/searchbox.js" th:src="@{/js/searchbox.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<!--
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.5/jquery.pagepiling.js"></script>
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>

<style>

.section {
    margin-top: 60px;
}

.mainboard{
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	width:800px;
}

#container{
    display: flex;
}
#side{
    width: 300px;
	height: 100%;
	overflow: auto;
}
#main{
	flex: 1;
	height: 100%;
}
#map_ov{
    width: 550px;
	height: 400px;
}
#map_zm{
    width: 550px;
	height: 400px;
}
#bar{
	height: 10px;
}

</style>

</head>
<body>

<ul id="menu">
    <li data-menuanchor="step1" class="active"><a href="#step1">Step 1</a></li>
    <li data-menuanchor="step2"><a href="#step2">Step 2</a></li>
    <li data-menuanchor="step3"><a href="#step3">Step 3</a></li>
</ul>

<div id="pagepiling">
    <div class="section" id="section1">
		<div class="mainboard">
			<h3>所在図</h3>
			<div id="map_ov"></div>
			<input id="pac-input" class="controls" type="text" placeholder="Search Box" />
		</div>
	</div>
    <div class="section">
		<div class="mainboard">
			<h3>配置図</h3>
			<div id="map_zm"></div>
		</div>
	</div>
    <div class="section">
		<div class="mainboard">
			<h3>保管場所証明申請書ダウンロード</h3>
			<div>Some section: 3</div>

			<form name="test">
				<input type="button" value="Test" onClick="kakunin()"></input>
			</form>

		</div>
	</div>
</div>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/

function kakunin() {
	var txtbox = document.getElementById('pac-input');
	txtbox.style.display ="none";
	html2canvas(document.getElementById('map_ov'), {
		useCORS: true,
		onrendered: function(canvas){
			var type = 'image/png';
			var imgData = canvas.toDataURL(type);
			var bin = atob(imgData.split(',')[1]);
			var buffer = new Uint8Array(bin.length);
			for (var i = 0; i < bin.length; i++) {
				buffer[i] = bin.charCodeAt(i);
			}
			var blob = new Blob([buffer.buffer], {type: type});
			saveAs(
				blob,
				"location.png"
			);
			txtbox.style.display ="block";
		}
	});
}

/*
$(document).ready(function() {
	// Plugin intialization
    $('#pagepiling').pagepiling({
        direction: 'horizontal',
        verticalCentered: false,
        menu: '#menu',
        anchors: ['step1', 'step2', 'step3'],
        sectionsColor: ['white', '#31B404', '#39C'],
        navigation: {
            'position': 'right',
            'tooltips': ['Step 1', 'Step 2', 'Step 3']
        },
        afterRender: function(){
            $('#pp-nav').addClass('custom');
        },
        afterLoad: function(anchorLink, index){
            if(index>1){
                $('#pp-nav').removeClass('custom');
            }else{
                $('#pp-nav').addClass('custom');
            }
        }
    });
});
*/

var map_ov;
var map_zm;
var markerHome;
var markerGrge;
var dServ; 
var dRend;

function initMap() {

	const DIFF_DIST_FROM_CENTER = 0.0008;

	var centerLat = /*[[${lat}]]*/ 35.45481104743612;
	var centerLng = /*[[${lng}]]*/ 139.63120803716913;
	var homeLat = centerLat;
	var homeLng = centerLng - DIFF_DIST_FROM_CENTER;
	var garageLat = centerLat;
	var garageLng = centerLng + DIFF_DIST_FROM_CENTER;

	map_ov = new google.maps.Map(document.getElementById('map_ov'), {
        center: {
            lat: centerLat,
            lng: centerLng,
        },  
		zoom: 17,
		scaleControl: true,
		clickableIcons: false,
		rotateControlOptions: true,
	});
	behaviorSearchBox(map_ov);


	dServ = new google.maps.DirectionsService(); 
	dRend = new google.maps.DirectionsRenderer({
		map: map_ov,
		preserveViewport: true,
		draggable: true,
		suppressMarkers: true,
		polylineOptions: {
			strokeWeight: 5,
			strokeColor: "black",
			strokeOpacity: 0.6,
		}
	});

	var markerHome = createPieceMarker(map_ov, homeLat, homeLng, "宅");
	var markerGrge = createPieceMarker(map_ov, garageLat, garageLng, "駐");

	var contentHome = '<table><tr><th>道程距離</th><td><div id="hm-way2go">---</div><td></tr>'
		+ '<tr><th>直線距離</th><td><div id="hm-direct">---</div><td></tr></table>';
	var infoHome = new google.maps.InfoWindow({content: contentHome});
	infoHome.open(map_ov, markerHome);

	var contentGrge = '<table><tr><th>道程距離</th><td><div id="gr-way2go">---</div><td></tr>'
		+ '<tr><th>直線距離</th><td><div id="gr-direct">---</div><td></tr></table>';
	var infoGrge = new google.maps.InfoWindow({content: contentGrge});
	infoGrge.open(map_ov, markerGrge);

	render(dServ, dRend, markerHome, markerGrge);

	markerHome.addListener('click', function(){
		infoHome.open(map_ov, markerHome);
		render(dServ, dRend, markerHome, markerGrge);
	});
	markerGrge.addListener('click', function(){
		infoGrge.open(map_ov, markerGrge);
		render(dServ, dRend, markerHome, markerGrge);
	});
	markerHome.addListener("dragend", function(arg) {
		render(dServ, dRend, markerHome, markerGrge);
	});
	markerGrge.addListener("dragend", function(arg) {
		render(dServ, dRend, markerHome, markerGrge);
		synchronizeCenter2Zoom(markerGrge, map_zm);
	});








	//----------
	// 2nd map
	//----------
	map_zm = new google.maps.Map(document.getElementById('map_zm'), {
		center: markerGrge.getPosition(),
		zoom: 21,
		scaleControl: true,
//		mapTypeId: google.maps.MapTypeId.SATELLITE,
		styles: [{
			stylers: [{
				saturation: -100
			}]
		}]
	});


	var drawingManager = new google.maps.drawing.DrawingManager({
		drawingMode: google.maps.drawing.OverlayType.PAN,
		drawingControl: true,                            
		drawingControlOptions: {
			position: google.maps.ControlPosition.TOP_CENTER, 
			drawingModes: [
				google.maps.drawing.OverlayType.MARKER,
				google.maps.drawing.OverlayType.CIRCLE,
				google.maps.drawing.OverlayType.POLYGON,
				google.maps.drawing.OverlayType.POLYLINE,
				google.maps.drawing.OverlayType.RECTANGLE,
			],
		},
		markerOptions: {
//			icon: {
//				url: '../common/img/ms/pin_02.png',
//				scaledSize: new google.maps.Size(40, 40),
//			}
			draggable: true,
			title: 'あいうえお',
		},
		circleOptions: {
			clickable: false,
			editable: true,
			zIndex: 1
		},
		polygonOptions: {
//			fillColor: '#ff00ff',
//			fillOpacity: 1,
//			strokeWeight: 5,
			clickable: false,
			editable: true,
			zIndex: 1
		},
/*
	rectangleOptions: {
		fillColor: '#0000ff',
		fillOpacity: 1,
		strokeWeight: 5,
		clickable: true,
		editable: true,
		zIndex: 1
	},
	polylineOptions: {
		strokeColor: '#ff0000',
		strokeWeight: 5,
		clickable: false,
		editable: true,
		zIndex: 1
	}
*/
	});
	drawingManager.setMap(map_zm);

}

// {{{ func
function createPieceMarker(map, lat, lng, caption) {
	var marker = new google.maps.Marker( {
		map: map,
		position: {
			lat: lat,
			lng: lng,
		},
		draggable: true ,
		label: {
			text: caption,
			color: "#FFFFFF",
		}
	});
	return marker;
}
// }}}

// {{{ func
function render(serv, rend, markerHome, markerGrge) {
	var request = {
		origin: markerHome.getPosition(),
		destination: markerGrge.getPosition(),
		travelMode: google.maps.DirectionsTravelMode.WALKING,
	};
	serv.route(request, function(result, status){
		if (status == google.maps.DirectionsStatus.OK) {
			rend.setDirections(result);
			var distWay2Go = (result.routes[0].legs[0].distance.value)
				.toString().replace(/(\d)(?=(\d{3})+$)/g , '$1,') + ' m';
			var elemHW = document.getElementById("hm-way2go");
			var elemGW = document.getElementById("gr-way2go");
			if (elemHW != null) elemHW.innerHTML = distWay2Go;
			if (elemGW != null) elemGW.innerHTML = distWay2Go;

			var distDirect = (Math.round(
				google.maps.geometry.spherical.computeDistanceBetween(
				markerHome.getPosition(), markerGrge.getPosition())))
				.toString().replace(/(\d)(?=(\d{3})+$)/g , '$1,') + ' m';
			var elemHD = document.getElementById("hm-direct");
			var elemGD = document.getElementById("gr-direct");
			if (elemHD != null) elemHD.innerHTML = distDirect;
			if (elemGD != null) elemGD.innerHTML = distDirect;

		}
	});
}
// }}}

function synchronizeCenter2Zoom(marker, map) {
	map.setCenter(marker.getPosition());
}


/*]]>*/
</script>

<script th:src="'https://maps.googleapis.com/maps/api/js?libraries=places&amp;callback=initMap&amp;key=' + ${gmapApiKey} + '&amp;libraries=drawing,places,geometry'"></script>


</body>
</html>
