<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link href="/css/grgmap.css" th:href="@{/css/grgmap.css}" rel="stylesheet"></link>
<link href="/css/searchbox.css" th:href="@{/css/searchbox.css}" rel="stylesheet"></link>
<script type="text/javascript" src="/js/searchbox.js" th:src="@{/js/searchbox.js}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

<link href="/css/pagePiling-menu.css" th:href="@{/css/pagePiling-menu.css}" rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.5/jquery.pagepiling.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.5/jquery.pagepiling.js"></script>

<!--
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.19/jquery.scrollify.js"></script>
-->
<!--
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/jquery.fullpage.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/jquery.fullpage.js"></script>
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>

<style>

.section {
    margin-top: 60px;
}

#section0 {
	background-size: cover;
	background-image: url(/images/cars.jpg);
}
#section1 {
	background-color: #31B404;
}
#section2 {
	background-color: #58ACFA;
}
#section3 {
	background-color: #FACC2E;
}

#map_ov {
    width: 500px;
	height: 500px;
}
#map_zm {
    width: 500px;
	height: 500px;
}

</style>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/

$(document).ready(function() {
	// Plugin intialization
    $('#pagepiling').pagepiling({
		direction: 'horizontal',
		verticalCentered: false,
		menu: '#menu',
		anchors: ['home', 'step1', 'step2', 'step3'],
//		sectionsColor: ['white', '#31B404', '#39C', '#FACC2E'],
		navigation: {
			'position': 'right',
			'tooltips': ['Home', 'Step 1', 'Step 2', 'Step3']
		},
		afterRender: function(){
			$('#pp-nav').addClass('custom');
		},
		afterLoad: function(anchorLink, index){
			if(index>1){
				$('#pp-nav').removeClass('custom');
			}else{
				$('#pp-nav').addClass('custom');
			}
		}
	});
});

/*]]>*/
</script>

</head>
<body>

<ul id="menu">
    <li data-menuanchor="home" class="active"><a href="#home">Home</a></li>
    <li data-menuanchor="step1"><a href="#step1">Step 1</a></li>
    <li data-menuanchor="step2"><a href="#step2">Step 2</a></li>
    <li data-menuanchor="step3"><a href="#step3">Step 3</a></li>
</ul>

<div id="pagepiling">
    <div class="section" id="section0">
		<h2 style="color: white;">車庫証明書の取得に向けて...<br/>保管場所の所在図・配置図の作成を支援します</h2>
		<img src="/images/logo.png" />
	</div>
    <div class="section" id="section1">
		<h3>Step 1: 所在図を書きましょう</h3>
		<form name="downloadbtn_ov">
			<div><input type="button" value="地図を画像でダウンロード" onClick="download_mapov()"></input></div>
		</form>
		<div id="map_ov"></div>
		<input id="pac-input" class="controls" type="text" placeholder="Search Box" />
	</div>
    <div class="section" id="section2">
		<h3>Step 2: 配置図を書きましょう</h3>
		<form name="downloadbtn_zm">
			<div><input type="button" value="地図を画像でダウンロード" onClick="download_mapzm()"></input>&nbsp;<input type="button" value="図形削除" onClick="delete_shape()"></input></div>
		</form>
		<div id="map_zm"></div>
	</div>
    <div class="section" id="section3">
		<h3>Step 3: 保管場所証明申請書をダウンロードしましょう</h3>
<!--
		<table>
			<tr th:each="entry : ${appforms}">
				<td th:text="${entry.code}"></td>
				<td><a th:href="${entry.url}" th:text="${entry.name}"></a></td>
			</tr>
		</table>
-->

<div id="srchBox">
<style type="text/css">
#srchBox
{
width:498px;
_width:496px;
margin-bottom:10px;
background-color:#FACC2E;
border-style:solid;
border-width:1px;
border-color:#EEEEEE;
color:#000000;
text-align:left;
}
#srchBox *
{
margin:0;
padding:0;
font-size:13px;
*font-size:small;
*font:x-small;
}
#srchBox a img
{
border:none;
}
#srchBox #srch
{
padding:10px 10px 0 10px;
}
#srchBox #srch #srchForm
{
white-space:nowrap;
}
#srchBox #srchInput
{
width:388px;
margin-right:6px;
vertical-align:bottom;
}
#srchBox #srchBtn
{
width:80px;
}
*html #srchBox #srchBtn
{
padding-top:2px;
}
*:first-child+html #srchBox #srchBtn
{
padding-top:2px;
}
#srchBox ul
{
margin-top:6px;
text-align:left;
}
#srchBox li
{
list-style-type:none;
display:inline;
zoom:1;
padding-right:10px;
}
#srchBox li input
{
zoom:1;
margin-right:2px;
_margin:-4px 0 -4px -4px;
vertical-align:middle;
border:0;
}
*:+html #srchBox li input
{
margin:-4px 0 -4px -4px;
}
#srchBox #srchLogo
{
margin:6px 6px 6px 0;
text-align:right;
}
#srchBox #srchLogo a
{
color:#666666;
text-decoration:none;
font-size:85%;
}
#srchBox #srchLogo a:hover
{
text-decoration:underline;
}

</style>
<form action="https://custom.search.yahoo.co.jp/search" method="get" id="srch" target="yjserp">
<p id="srchForm">
<input type="text" name="p" id="srchInput" /><input type="submit" value="検索" id="srchBtn" />
<input type="hidden" id="fr" name="fr" value="cse" />
<input type="hidden" id="ei" name="ei" value="UTF-8" />
<input type="hidden" id="csid" name="csid" value="SG7sRdZGBtnbPry4IXlWQXvoUe1bYGlhYTCk.dAusg--" />
</p>
</form>
<p id="srchLogo"><a href="https://www.yahoo.co.jp"><img src="https://s.yimg.jp/images/search/customsearch/yjlogo/yjlogo_type1_ffd700.gif" width="124" height="20" alt="powered by Yahoo! JAPAN" /></a></p>
<img src="https://custom.search.yahoo.co.jp/images/window/SG7sRdZGBtnbPry4IXlWQXvoUe1bYGlhYTCk.dAusg--.gif" />
</div>
<!-- /#srchBox -->

	</div>
</div>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/

function download_mapov() {
	download_map2img('map_ov', 'location.png');
}

function download_mapzm() {
	download_map2img('map_zm', 'allocation.png');
}

function download_map2img(mapid, filename) {
	var txtbox = document.getElementById('pac-input');
	txtbox.style.display = "none";
	html2canvas(document.getElementById(mapid), {
		useCORS: true,
		onrendered: function(canvas){
			var type = 'image/png';
			var imgData = canvas.toDataURL(type);
			var bin = atob(imgData.split(',')[1]);
			var buffer = new Uint8Array(bin.length);
			for (var i = 0; i < bin.length; i++) {
				buffer[i] = bin.charCodeAt(i);
			}
			var blob = new Blob([buffer.buffer], {type: type});
			saveAs(
				blob,
				filename
			);
			txtbox.style.display = "block";
		}
	});
}

function delete_shape() {
	if (drawings.length > 0) {
		var shape = drawings[drawings.length - 1];
		shape.setMap(null);
		shape = null;
		drawings.pop();
	}
}

var map_ov;
var map_zm;
var markerHome;
var markerGrge;
var dServ; 
var dRend;

var drawings = [];

// {{{ function initMap()
function initMap()
{

	const DIFF_DIST_FROM_CENTER = 0.0008;

	var centerLat = /*[[${lat}]]*/ 35.45481104743612;
	var centerLng = /*[[${lng}]]*/ 139.63120803716913;
	var homeLat = centerLat;
	var homeLng = centerLng - DIFF_DIST_FROM_CENTER;
	var garageLat = centerLat;
	var garageLng = centerLng + DIFF_DIST_FROM_CENTER;

	map_ov = new google.maps.Map(document.getElementById('map_ov'), {
        center: {
            lat: centerLat,
            lng: centerLng,
        },  
		zoom: 17,
		scaleControl: true,
		clickableIcons: false,
		rotateControlOptions: true,
	});
	behaviorSearchBox(map_ov);


	dServ = new google.maps.DirectionsService(); 
	dRend = new google.maps.DirectionsRenderer({
		map: map_ov,
		preserveViewport: true,
		draggable: true,
		suppressMarkers: true,
		polylineOptions: {
			strokeWeight: 5,
			strokeColor: "black",
			strokeOpacity: 0.6,
		}
	});

	var markerHome = createPieceMarker(map_ov, homeLat, homeLng, "宅");
	var markerGrge = createPieceMarker(map_ov, garageLat, garageLng, "駐");

	var contentHome = '<table><tr><th>道程距離</th><td><div id="hm-way2go">---</div><td></tr>'
		+ '<tr><th>直線距離</th><td><div id="hm-direct">---</div><td></tr></table>';
	var infoHome = new google.maps.InfoWindow({content: contentHome});
	infoHome.open(map_ov, markerHome);

	var contentGrge = '<table><tr><th>道程距離</th><td><div id="gr-way2go">---</div><td></tr>'
		+ '<tr><th>直線距離</th><td><div id="gr-direct">---</div><td></tr></table>';
	var infoGrge = new google.maps.InfoWindow({content: contentGrge});
	infoGrge.open(map_ov, markerGrge);

	renderPoint2Point(dServ, dRend, markerHome, markerGrge);

	markerHome.addListener('click', function(){
		renderPoint2Point(dServ, dRend, markerHome, markerGrge);
		infoHome.open(map_ov, markerHome);
	});
	markerGrge.addListener('click', function(){
		renderPoint2Point(dServ, dRend, markerHome, markerGrge);
		infoGrge.open(map_ov, markerGrge);
	});
	markerHome.addListener("dragend", function(arg) {
		renderPoint2Point(dServ, dRend, markerHome, markerGrge);
		convMarker2Geocode(markerHome, annexPref2Search);
	});
	markerGrge.addListener("dragend", function(arg) {
		renderPoint2Point(dServ, dRend, markerHome, markerGrge);
		synchronizeCenter2Zoom(markerGrge, map_zm);
	});








	//----------
	// 2nd map
	//----------
	map_zm = new google.maps.Map(document.getElementById('map_zm'), {
		center: markerGrge.getPosition(),
		zoom: 21,
		scaleControl: true,
//		mapTypeId: google.maps.MapTypeId.SATELLITE,
		styles: [{
			stylers: [{
				saturation: -100
			}]
		}]
	});


	var drawingManager = new google.maps.drawing.DrawingManager({
		drawingMode: google.maps.drawing.OverlayType.PAN,
		drawingControl: true,                            
		drawingControlOptions: {
			position: google.maps.ControlPosition.TOP_CENTER, 
			drawingModes: [
				google.maps.drawing.OverlayType.MARKER,
				google.maps.drawing.OverlayType.CIRCLE,
				google.maps.drawing.OverlayType.POLYGON,
				google.maps.drawing.OverlayType.POLYLINE,
				google.maps.drawing.OverlayType.RECTANGLE,
			],
		},
		markerOptions: {
//			icon: {
//				url: '../common/img/ms/pin_02.png',
//				scaledSize: new google.maps.Size(40, 40),
//			},
//			label: 'hello world',
			clickable: true,
			editable: true,
			draggable: true,
			geodesic: true,
		},
		circleOptions: {
			clickable: true,
//			editable: true,
			draggable: true,
			geodesic: true,
			zIndex: 1
		},
		polygonOptions: {
//			fillColor: '#ff00ff',
//			fillOpacity: 1,
//			strokeWeight: 5,
			clickable: true,
//			editable: true,
			draggable: true,
			geodesic: true,
			zIndex: 1
		},
		rectangleOptions: {
//			fillColor: '#0000ff',
//			fillOpacity: 1,
//			strokeWeight: 5,
			clickable: true,
//			editable: true,
			draggable: true,
			geodesic: true,
			zIndex: 1
		},
		polylineOptions: {
//			strokeColor: '#ff0000',
//			strokeWeight: 5,
			clickable: true,
//			editable: true,
			draggable: true,
			geodesic: true,
			zIndex: 1
		}
	});
	drawingManager.setMap(map_zm);

	google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
		var type = event.type;
		var shape = event.overlay;
		drawings.push(shape);
		if (type == 'marker') {
			shape.setIcon("http://maps.google.com/mapfiles/kml/pushpin/wht-pushpin_maps.png");
			shape.addListener('click', function() {
				var statement = prompt("表示する文字を入力してください");
				var iw = new google.maps.InfoWindow({content: statement});
				iw.open(map_zm, shape);
			});
			var statement = prompt("表示する文字を入力してください");
			var iw = new google.maps.InfoWindow({content: statement});
			iw.open(map_zm, shape);
		} 
	});


}
// }}}

// {{{ function createPieceMarker(map, lat, lng, caption)
function createPieceMarker(map, lat, lng, caption)
{
	var marker = new google.maps.Marker( {
		map: map,
		position: {
			lat: lat,
			lng: lng,
		},
		draggable: true ,
		label: {
			text: caption,
			color: "#FFFFFF",
		}
	});
	return marker;
}
// }}}

// {{{ function renderPoint2Point(serv, rend, markerHome, markerGrge)
function renderPoint2Point(serv, rend, markerHome, markerGrge)
{
	var request = {
		origin: markerHome.getPosition(),
		destination: markerGrge.getPosition(),
		travelMode: google.maps.DirectionsTravelMode.WALKING,
	};
	serv.route(request, function(result, status){
		if (status == google.maps.DirectionsStatus.OK) {
			rend.setDirections(result);
			var distWay2Go = (result.routes[0].legs[0].distance.value)
				.toString().replace(/(\d)(?=(\d{3})+$)/g , '$1,') + ' m';
			var elemHW = document.getElementById("hm-way2go");
			var elemGW = document.getElementById("gr-way2go");
			if (elemHW != null) elemHW.innerHTML = distWay2Go;
			if (elemGW != null) elemGW.innerHTML = distWay2Go;

			var distDirect = (Math.round(
				google.maps.geometry.spherical.computeDistanceBetween(
				markerHome.getPosition(), markerGrge.getPosition())))
				.toString().replace(/(\d)(?=(\d{3})+$)/g , '$1,') + ' m';
			var elemHD = document.getElementById("hm-direct");
			var elemGD = document.getElementById("gr-direct");
			if (elemHD != null) elemHD.innerHTML = distDirect;
			if (elemGD != null) elemGD.innerHTML = distDirect;

		}
	});
}
// }}}

function convMarker2Geocode(marker, callback)
{
	var geocoder = new google.maps.Geocoder();
	geocoder.geocode({'location': marker.getPosition()}, function(results, status) {
		if (status === google.maps.GeocoderStatus.OK) {
			if (results[1]) {
				callback(results);
			}
		}
	});
}

var annexPref2Search = function(geocodeResults)
{
	var results = geocodeResults[0].address_components.filter(function(component) {
		return component.types.indexOf("administrative_area_level_1") > -1;
	});
	pref = results[0].long_name;
	document.getElementById("srchInput").value = pref;
}




function synchronizeCenter2Zoom(marker, map)
{
	map.setCenter(marker.getPosition());
}


/*]]>*/
</script>

<script th:src="'https://maps.googleapis.com/maps/api/js?libraries=places&amp;callback=initMap&amp;key=' + ${gmapApiKey} + '&amp;libraries=drawing,places,geometry'"></script>


</body>
</html>
