<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="/css/grgmap.css" th:href="@{/css/grgmap.css}" rel="stylesheet"></link>
<link href="/css/searchbox.css" th:href="@{/css/searchbox.css}" rel="stylesheet"></link>
<script type="text/javascript" src="/js/searchbox.js" th:src="@{/js/searchbox.js}"></script>

<style>
#container{
    display: flex;
}
#side{
    width: 300px;
	height: 100%;
	overflow: auto;
}
#main{
	flex: 1;
	height: 100%;
}
#map_ov{
    width: 600px;
	height: 350px;
}
#map_zm{
    width: 600px;
	height: 350px;
}
#bar{
	height: 10px;
}
</style>

</head>
<body>

<div id="container">

	<div id="side">
	</div>
	<div id="main">
		<div id="map_ov"></div>
		<input id="pac-input" class="controls" type="text" placeholder="Search Box" />
		<div id="bar"></div>
		<div id="map_zm"></div>
	</div>

</div>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/

var map_ov;
var map_zm;
var markerHome;
var markerGrge;
var dServ; 
var dRend;

function initMap() {

	var centerLat = /*[[${lat}]]*/ 35.45481104743612;
	var centerLng = /*[[${lng}]]*/ 139.63120803716913;
	var homeLat = centerLat;
	var homeLng = centerLng - 0.0005;
	var garageLat = centerLat;
	var garageLng = centerLng + 0.0005;

	map_ov = new google.maps.Map(document.getElementById('map_ov'), {
        center: {
            lat: centerLat,
            lng: centerLng,
        },  
		zoom: 17,
		scaleControl: true,
	});
	behaviorSearchBox(map_ov);


	dServ = new google.maps.DirectionsService(); 
	dRend = new google.maps.DirectionsRenderer({
		map: map_ov,
		preserveViewport: true,
		draggable: true,
		suppressMarkers: true,
		polylineOptions: {
			strokeWeight: 7,
			strokeColor: "black",
			strokeOpacity: 0.6,
		}
	});

	var markerHome = createPieceMarker(map_ov, homeLat, homeLng, "宅");
	var markerGrge = createPieceMarker(map_ov, garageLat, garageLng, "駐");

	var contentHome = '<div id="hm-way2go">---</div><div id="hm-direct">---</div>';
	var infoHome = new google.maps.InfoWindow({content: contentHome});
	infoHome.open(map_ov, markerHome);

	var contentGrge = '<div id="gr-way2go">2. ---</div><div id="gr-direct">1. ---</div>';
	var infoGrge = new google.maps.InfoWindow({content: contentGrge});
	infoGrge.open(map_ov, markerGrge);

	render(dServ, dRend, markerHome, markerGrge);

	markerHome.addListener('click', function(){
		infoHome.open(map_ov, markerHome);
		render(dServ, dRend, markerHome, markerGrge);
	});
	markerGrge.addListener('click', function(){
		infoGrge.open(map_ov, markerGrge);
		render(dServ, dRend, markerHome, markerGrge);
	});
	markerHome.addListener("dragend", function(arg) {
		render(dServ, dRend, markerHome, markerGrge);
	});
	markerGrge.addListener("dragend", function(arg) {
		render(dServ, dRend, markerHome, markerGrge);
	});








	//----------
	// 2nd map
	//----------
	map_zm = new google.maps.Map(document.getElementById('map_zm'), {
		center: {
			lat: 35.47131841901187,
			lng: 139.4283853703149
		},
		zoom: 17
	});

	var drawingManager = new google.maps.drawing.DrawingManager({
		drawingMode: google.maps.drawing.OverlayType.PAN,
		drawingControl: true,                            
		drawingControlOptions: {
			position: google.maps.ControlPosition.TOP_CENTER, 
			drawingModes: ['marker', 'circle', 'polygon', 'polyline', 'rectangle']
//			drawingModes: ['circle']
		},
/*
		markerOptions: {
			icon: {
				url: '../common/img/ms/pin_02.png',
				scaledSize: new google.maps.Size(40, 40)
			}
		},
*/
		circleOptions: {
			clickable: false,
			editable: true,
			zIndex: 1
		},
		polygonOptions: {
//			fillColor: '#ff00ff',
//			fillOpacity: 1,
//			strokeWeight: 5,
			clickable: false,
			editable: true,
			zIndex: 1
		},
/*
	rectangleOptions: {
		fillColor: '#0000ff',
		fillOpacity: 1,
		strokeWeight: 5,
		clickable: true,
		editable: true,
		zIndex: 1
	},
	polylineOptions: {
		strokeColor: '#ff0000',
		strokeWeight: 5,
		clickable: false,
		editable: true,
		zIndex: 1
	}
*/
	});
	drawingManager.setMap(map_zm);

}

function createPieceMarker(map, lat, lng, caption) {
	var marker = new google.maps.Marker( {
		map: map,
		position: {
			lat: lat,
			lng: lng,
		},
		draggable: true ,
		label: {
			text: caption,
			color: "#FFFFFF",
		}
	});
	return marker;
}

function render(serv, rend, markerHome, markerGrge) {
	var request = {
		origin: markerHome.getPosition(),
		destination: markerGrge.getPosition(),
		travelMode: google.maps.DirectionsTravelMode.WALKING,
	};
	serv.route(request, function(result, status){
		if (status == google.maps.DirectionsStatus.OK) {
			rend.setDirections(result);
			var distWay2Go = result.routes[0].legs[0].distance.value;
			var elemHW = document.getElementById("hm-way2go");
			var elemGW = document.getElementById("gr-way2go");
			if (elemHW != null) elemHW.innerHTML = distWay2Go;
			if (elemGW != null) elemGW.innerHTML = distWay2Go;

			var distDirect = Math.round(
				google.maps.geometry.spherical.computeDistanceBetween(
				markerHome.getPosition(), markerGrge.getPosition()));
			var elemHD = document.getElementById("hm-direct");
			var elemGD = document.getElementById("gr-direct");
			if (elemHD != null) elemHD.innerHTML = distDirect;
			if (elemGD != null) elemGD.innerHTML = distDirect;

		}
	});
}

/*]]>*/
</script>

<script th:src="'https://maps.googleapis.com/maps/api/js?libraries=places&amp;callback=initMap&amp;key=' + ${gmapApiKey} + '&amp;libraries=drawing,places,geometry'"></script>


</body>
</html>
